blockquote, body, button, caption, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, iframe, input, legend, li, ol, p, pre, select, tbody, td, textarea, tfoot, th, thead, tr, ul {
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.lt_ie8 img {
	vertical-align:top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}
td, th {
	text-align: inherit;
}
td img {
	vertical-align: top;
}
button, label, select, input, textarea {
	display: block;
	font-family: inherit;
}
textarea {
	overflow: auto; 
	resize: vertical;
}
::-moz-selection,
::selection {
	background: rgba(0, 127, 179, 0.4); /* #007fb3 */
	color: #000;
	text-shadow: none;
}

/*--------------------------------------------------=> Site */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
	height: 100%;
	overflow-y: scroll;
}
body {
	background-color:#fdfdfd;
	color: #1a1a1a;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	height: 100%;
}
h1 {
	font-weight: bold;
	font-size: 2em;
	line-height: 2;
}
header {
	background: rgba(255,255,255,0.94);
	padding: 0 50px;
	position: fixed;
	left: 0;
	top: 0;
	width: 1220px;
	z-index: 5;
}
nav ul {
	list-style: none;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	width: 280px;
}
main {
	display: block;
	padding: 100px 50px 0;
	width: 1220px;
}
section {
	float: left;
	margin-right: 30px;
	width: 250px;
}
section img {
	margin-bottom: 10px;
	width:250px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
         -o-transition: all 250ms ease-in-out;
		    transition: all 250ms ease-in-out;
}
footer {
	background: rgba(255,255,255,0.94);
	padding: 0 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 1160px;
	z-index: 5;
}

.list_inline li {
	display: inline-block;
}

.search {
	margin-bottom:3.375em;
	overflow:hidden;
	width: 300px;
	float:right;
}
.site_search {
	background-color:#eee;
	border-radius:20px;
	display:block;
	height:40px;
	margin-top:6px;
	position:relative;
	text-decoration:none;
	width:40px;
	float:right;
}
.site_search span {
	position:absolute;
	top:-9999px;
}
.site_search:hover,
.site_search:focus,
.site_search.open {
	background-color:#007fb3;
	color:#fff;
}
.search_filter {
	background:#fdfdfd;
	border-bottom:1px solid #ddd;
	display:none;
	font-size: 1.125em; /* 18px */
	line-height:1.444; /* 28px */
	outline:none;
	padding:15px 0 5px;
	width:80%;
}

.filter {
	opacity: 0.3;
}
main a {
	display: block;
	float: left;
	margin-bottom: 10px;
}