
//	TEXT
//----------------------------------------------------------------------

.text-small {
	color: $mid-grey;
	font-size: 0.625rem; /* 10px */
	line-height: 1.5; /* 15px */
	margin-bottom: 0.625rem; /* 10px */
}