//----------------------------------------------------------------------
//	COMPONENTS
//	Containers
//----------------------------------------------------------------------

//	Main content
//-----------------------------------
.site-main {
	height: 100%;
	width: 100%;
}
.site-main--content {
	display: flex;
	flex-direction: column;
	padding: 80px 20px;
}