
/* ---------------------------------------- OOCSS ---------------------------------------- */

/*  Reusable classes to be applied as modifiers to existing DOM elements
	to reduce the amount of repetition in style declarations */


/* --------------------------- Text size */
.feature {
	font-size: 1.313em; /* 21px */
	line-height: 1.238; /* 26px */
}
.secondary {
}
.tertiary {
}

/* --------------------------- Color */
.highlight {
	color: #7b9f17;
}
.contrast {
	color: #7b2a84;
}
.light {
	color: #eeeae1;
}
.dark {
	color: #000;
}
.reverse {
	color: #fff;
}

/* --------------------------- Background */
.bg_light {
	background-color: #eeeae1;
}
.bg_reverse {
	background-color: #fff;
}

/* --------------------------- Borders */
.border_b {
	border-bottom: 1px solid #666;
}
.border_t {
	border-top: 1px solid #666;
}
.shadow {
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);
}

/* --------------------------- Transitions */

/*  Use as OOCSS class or add any additional selectors to each declaration */

.trans_all {
	transition: all 150ms ease-out;
}
.trans_bg {
	transition: background-color 150ms ease-out;
}
.trans_color {
	transition: color 150ms ease-out;
}
.trans_opacity {
	transition: opacity 150ms ease-out; 
}