
/* ---------------------------------------- Variables ---------------------------------------- */
/* Typography baseline (in px/ratio) */
$docFontSize: 16;
$docLineHeight: 1.25; /* 20px */

/* Font stacks */
$baseFont: Arial, Helvetica, sans-serif;
$sansFont: Verdana, Arial, Helvetica, sans-serif;
$serifFont: Georgia, Times, serif;

/* Breakpoints (in px) */
$lap: 725;
$desk: 1020;


/* ---------------------------------------- Mixins ---------------------------------------- */

/*
	MEDIA QUERY
	$point: breakpoint integer in px
	$constraint: Constraint for media query (min/max)
	$feature: Media feature of query (width/height)
*/
@mixin mq($point, $constraint: min, $feature: width) {
	@media screen and (#{$constraint}-#{$feature}: $point / $docFontSize + em) {
		@content;
	}
}