
/* ---------------------------------------- Utility ---------------------------------------- */

/*  Used similary to OOCSS the utility classes allow common code
	to the utilised throughout the site without duplicating CSS. */

/* --------------------------- Margin */
.margin_0 {
	margin: 0 !important;
}
.margin_t_0 {
	margin-top: 0 !important;
}
.margin_r_0 {
	margin-right: 0 !important;
}
.margin_b_0 {
	margin-bottom: 0 !important;
}
.margin_l_0 {
	margin-left: 0 !important;
}

/* --------------------------- Padding */
.padding_0 {
	padding: 0 !important;
}
.padding_t_0 {
	padding-top: 0 !important;
}
.padding_r_0 {
	padding-right: 0 !important;
}
.padding_b_0 {
	padding-bottom: 0 !important;
}
.padding_l_0 {
	padding-left: 0 !important;
}

/* --------------------------- Border */
.border_0 {
	border: 0 !important;
}
.border_t_0 {
	border-top: 0 !important;
}
.border_r_0 {
	border-right: 0 !important;
}
.border_b_0 {
	border-bottom: 0 !important;
}
.border_l_0 {
	border-left: 0 !important;
}

/* --------------------------- Floats */
.left {
	float: left;
}
.right {
	float: right;
}

/* --------------------------- Text alignment */
.text_l {
	text-align: left;
}
.text_r {
	text-align: right;
}
.text_c {
	text-align: center;
}

/* --------------------------- Text case */
.upper {
	text-transform: uppercase;
}
.lower {
	text-transform: lowercase;
}

/* --------------------------- Typography */
.strong {
	font-weight: bold;
}
.normal {
	font-weight: normal;
}
.italic {
	font-style: italic;
}

/* --------------------------- Display properties */
.block {
	display: block;
}
.overflow_a {
	overflow: auto !important;
}
.overflow_h {
	overflow: hidden !important;
}

/* --------------------------- Clear */
.clearer {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.spacer {
	clear: both;
	font-size: 0;
	height: 20px;
	line-height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

/* --------------------------- Misc */

/* Hide only visually, but have it available for screenreaders */
.hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Hide from both screenreaders and browsers */
.no_display {
	display: none !important;
	visibility: hidden;
}