/*
	CSS Document for XXXXXXX
	Build: XXXX XXXXXXX on behalf of SAS
	Date: March 2014
	Version: 3.1.0
*/

/* bulletproof font-face syntax */
@font-face {
	font-family: 'font';
	src: url('/path/font.eot');
	src: url('/path/font.eot?#iefix') format('embedded-opentype'),
		 url('/path/font.woff') format('woff'),
		 url('/path/font.ttf') format('truetype'),
		 url('/path/font.svg#font') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* vars/mixins for sass and css reset */
@import "sass";
@import "reset";

/* base styles */
@import "grid";
@import "base";
@import "icons";

/* OOCSS and utilities */
@import "oocss";
@import "utility";

/* print stylesheet */
@import "print";